<div class="px-4 py-5 my-5 text-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="currentColor" class="text-danger bi bi-person-bounding-box" viewBox="0 0 16 16">
    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  </svg>
  <h2 class="my-2">Perfil: <%= @user.full_name %></h2>
  <h4 class="my-2">Localização: <%= @user.location%></h4>
  <div class="col-lg-12 mx-auto">
    <p class="lead mb-4">Biografia: <%= @user.bio%></p>
  </div>
  <div class="gap-2 d-flex justify-content-center">
    <%= link_to "Editar Perfil", edit_user_path(@user), class: "btn btn-primary btn-lg px-4 gap-3" %>
    <%= link_to "Home", root_path, class: "btn btn-outline-dark btn-lg px-4" %>
  </div>
</div>
