<%= render 'shared/errors', obj: @room %>
<%= form_for @room do |form|%>
  <div>
    <%= form.label :title, "Titulo", class:"form-label" %>
    <%= form.text_field :title, class: "form-control h-75" %>
  </div>
  <div>
    <%= form.label :location, "Local", class:"form-label" %>
    <%= form.text_field :location, class: "form-control h-75" %>
  </div>
  <div>
    <%= form.label :description, "Descrição", class:"form-label" %>
    <%= form.text_area :description, class: "form-control h-75" %>
  </div>
  <div class="text-center">
    <%= form.submit title_button, class: "btn btn-info text-white mt-3" %>
  </div>
<% end %>
