<!DOCTYPE html>
<html lang="pt-BR" class="h-100">
  <head>
    <title>Colcho.Net</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column h-100" id="body-nav">
    <%= render 'layouts/navigation' %>
    <main class="flex-shrink-0" id="page-content">
      <div class="mb-3 container d-flex justify-content-center flex-column align-items-center">
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
